<p id="notice"><%= notice %></p> 
<div class="header">This is the customized app developed by ANIL PATHAK
  <div class="header-right">
    <a class="active" href="http://localhost:3000">Users</a>
    <a href="http://localhost:3000/microposts">Posts</a>

    <a href="http://localhost:3000/static_pages/home">Static Page 1</a>
    <a href="http://localhost:3000/static_pages/help">Help</a>
  </div>
</div>
</header>
<div class="form">

  <h1>Users</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th colspan="3">Operations</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New User', new_user_path %>
  <br>
  <%= link_to 'New Micropost', new_micropost_path %>
  <br>
  <%= link_to 'Static Page Home', "" %>

</div>